.addQuestion {
    width: 100%;
    overflow: hidden;
    .wrap {
        margin: 60px 0 0 0px;
        display: flex;

        .cont {
            margin-left: 21%;
            flex: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .inputs {
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 40px;
                    font-weight: bolder;
                    margin: 5px;
                    text-align: center;
                }

                .inputData {
                    margin: 15px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    label {
                        width: 99%;
                        padding: 5px;
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0;
                    }

                    input {
                        padding: 10px 15px;
                    }

                    textarea {
                        padding: 10px 15px;
                        resize: none;
                    }
                    .tags {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 6px;
                        .item {
                            height: 30px;
                            background-color: rgb(197, 197, 197);
                            color: rgb(78, 78, 78);
                            border-radius: 15px;
                            margin: 0 3px;
                            display: flex;
                            justify-self: start;
                            align-items: center;
                            padding: 0 3px;
                            margin: 5px;
                            span {
                                font-size: 15px;
                                font-weight: bold;
                                margin-left: 5px;
                            }
                            button {
                                margin: 0 0px 0 3px;
                                font-weight: bold;
                                font-size: 12px;
                                background: none;
                                margin: 0 0px 0 3px;
                            }
                        }
                    }
                }
            }
            button {
                width: 20%;
                height: 50px;
                background-color: rgb(90, 90, 90);
                color: white;
                border-radius: 7px;
                border: none;
                outline: none;
                margin: 0 auto 5px;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .addQuestion {
        width: 100%;
        .wrap{
            margin: 60px 0 0 ;
            .cont {
                margin-left: 0%;
            }
        }
    }
}
